// estilo dos botões de produtos em destaque
    .container-btn{
        display: flex;
        width: 70%;
        justify-content: space-between;
        font-family: var(--font-main);
        border-radius: 50px;
        border: solid var(--sinc-color01);
        padding: 10px;
        margin: 10px;
        color: var(--sinc-color01);
        .btn {
            text-align: center;
            color: var(--sinc-color01);
        }

    }