// estilo dos botões de produtos em destaque
    .container-btn{
        display: flex;
        width: 70%;
        justify-content: center;
        align-items: center;
        font-family: var(--font-main);
        border-radius: 30px;
        border: solid var(--sinc-color01);
        padding: 10px;
        margin: 0 0 10px 0;
        gap: 5px;
        color: var(--sinc-color01);
        .btn {
            display: flex;
            border: none;
            background-color: transparent;
            font-size: .8rem;
            font-weight: 600;
            color: var(--sinc-color01);
            i, a{
                display: flex;
            }
        }

    }

    