 // Cabeçalho
 .cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    border-radius: 50px;
    border: pink solid;
    background-color: var(--sinc-color01);
    .logo-cabecalho{
        width: 130px;
        padding: 10px;
    }
    .social-icon-header{
        padding: 10px;
        font-size: 32px;
        color: var(--sinc-color02);
    }
}