 // estilo gobal para todos os cards de destaque
.card-main-prduct{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid var(--clear-color);
    border-radius: 10px;
    overflow: hidden;

    .container-img{
        display: flex;
        height: 50%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .img-card{
            width:100%;
            object-fit: cover;
        }
    }

    .info-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 10px;
        width: 100%;
        height: 50%;
        font-family: var(--font-main);
        .title-card {
            font-weight: 600;
            font-size: 1.5rem;
        }
        .description-card{
            font-weight: 100;
            font-size: 1rem;
        }

        .details-card{
            font-weight: 100;
            font-size: .6rem;
        }
    }   
}

.container-main-product{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px 0;
    grid-template-rows: auto auto auto auto;
    width: 100%;

    .card-main-1{
        grid-area: 1/1/2/2; //Pra lembrar grid-row-start/grid-column-start/grid-row-end/grid-column-end
    }

    .card-main-2{
        grid-area: 2/2/3/3;
    }   

    .card-main-3{
        grid-area: 3/1/4/3;
        align-items: center;
        background-color: var(--clear-color);
        width: 100%;
        height: 35vh;
        .container-img{
            height: 40%;
        }
        .info-card{
            height: 30%;
        }

        .container-btn{
            width: 80%;
        }
    }

    .container-double-card-main{
        grid-area: 4/1/5/3;
        display: flex;
        gap: 15px;

        .card-main-4{
        grid-area: 4/1/5/2;
        background-color: var(--clear-color);
        }
        .card-main-5{
        grid-area: 4/2/5/3;
        background-color: var(--clear-color);
        }  
    }
      .text-main-product-1{
        grid-area: 1/2/2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        max-width: 100%;
        line-height: 1.5;
    }
    .text-main-product-2{
        grid-area: 2/1/3/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        max-width: 100%;
        line-height: 1.5;
        h2{
            font-size: 100%;
            overflow-wrap: break-word;
        }
    }
        // estilo dos textos de destaque nos cards

    .text-main-product {
        display: flex;
        align-items: center;
        font-family: var(--font-main);
        font-size: 1.5rem;
        font-weight: 900;
        width: 100%;
        
        h2{
            max-width: 100%;
        }
    }
}
.card-destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    border: solid var(--clear-color);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--clear-color);
    .banner-destaque{
        width: 100%;
    }
    .title-card-destaque{
        font-size: 2rem;
        font-family: var(--font-main);
        font-weight: 700;
        line-height: 35px;
        text-align: center;
        color: var(--sinc-color01);
        padding: 0 10px;
        strong {
            color: var(--tirth-color)
        }
        
    }

    //Estilo local do botão, para edições comum use a folha global.
    .container-btn{
        margin: 20px;
    }
}

//card secundary

.card-secundary-prduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    border: solid var(--clear-color);
    max-height: 30vh;
    border-radius: 10px;
    overflow: hidden;
    .container-img-secundary-prduct{
        width: 100%;
        display: flex;
        height: 40%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    .info-card-secundary-prduct{
        display: flex;
        flex-direction: column;
        height: 40%;
        gap: 5px;
        
        .title-card-secundary-product{
            font-family: var(--font-main);
            font-weight: 700;
            font-size: .8rem;
        }
        .description-card-secundary-product{
            font-size: .8rem;
        }
        .details-card-secundary-product{
            font-size: .8rem;
        }
    }
    // usar esse estilo de botão apenas para ajustes locais, para alteração geral usar o all-btn-style.scss
    .container-btn{
        height: 10%;
        width: 95%;
        font-size: .8em;
        i{
            display: none;
        }

    }
}

.wrap-doble-card{
    display: flex;
    grid-area: 2/1/3/4;
    gap: 20px;
    .card-secundary-prduct{
        background-color: var(--clear-color);
    }
}

.container-secndary-product{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.secundary-prduct-1{
    grid-area: 1/1/2/2;
    background-color: var(--clear-color);
}
.secundary-prduct-2{
    grid-area: 1/2/2/3;
    background-color: var(--clear-color);
    
}
.secundary-prduct-3{
    grid-area: 1/3/2/3;
    background-color: var(--clear-color);
}

.secundary-prduct-6{
    display: grid;
    grid-area: 3/1/4/4;
    grid-template: 1fr 1fr / 1fr 1fr;
    height: 20vh;
    background-color: var(--clear-color);
    .container-img-secundary-prduct{
        grid-area: 1/1/3/2;
        align-items: center;
        object-fit: contain;
        max-width: 100%;
        height: 100%;
        
    }

    .info-card-secundary-prduct{
        grid-area: 1/2/2/3;
    }

    .container-btn{
        grid-area: 2/2/3/3;
    }
}

// estilo do card secundário 7, 8, 9, 10 
.wrap-divquartet{
    display: grid;
    grid-area: 4 / 1 / 5 / 4 ;
    grid-template: 1fr auto / 1fr 1fr 1fr;
    gap: 20px;
    max-height: 60vh;
    .secundary-prduct-7{
        grid-area: 1/1/2/2;
        background-color: var(--clear-color);
    }

    .secundary-prduct-8{
        grid-area: 1/2/2/3;
        background-color: var(--clear-color);
    }

    .secundary-prduct-9{
        grid-area: 1/3/2/4;
        background-color: var(--clear-color);


    }
    .secundary-prduct-10{
        grid-area: 2/1/3/4;
        display: grid;
        background-color: var(--clear-color);
        grid-template: 1fr 1fr / 1fr 1fr;
        height: 20vh;
        display: grid;
        .container-img-secundary-prduct{
            grid-area: 1/1/3/2;
            align-items: center;
            object-fit: contain;
            max-width: 100%;
            height: 100%;
            
        }
    
        .info-card-secundary-prduct{
            grid-area: 1/2/2/3;
        }
    
        .container-btn{
            grid-area: 2/2/3/3;
        }

    }
}
.secundary-prduct-11{
    grid-area: 5/1/6/2;
    background-color: var(--clear-color);
}

.secundary-prduct-12{
    grid-area: 5/2/6/3;
    background-color: var(--clear-color);
}

.secundary-prduct-13{
    grid-area: 5/3/6/4;
    background-color: var(--clear-color);
}